body{ height:100vh; margin:0; }

header{ min-height:50px; background:lightcyan; }
footer{ min-height:50px; background: #C86654; }

body{ 
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #EDAEA0;
  display:flex; 
  flex-direction:column; 
}

footer{
  margin-top:auto; 
}
/**html,
body {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #EDAEA0;
  margin: 0;
  padding: 0;
  height: 100%;
  /**margin: 0 15% 0;
  font-size: 100%;
  line-height: 150%;
}
#container {
  min-height: 100%;
  position: relative;
}
#header {
  padding: 10px;
}
#body {
  padding: 10px;
  padding-bottom: 60px;
}
#footer {
    position: absolute;
    bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #C86654;
}**/

/**#videobackground {
width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
.video-container {
 position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.video-container > video {
  display: block;
  position: absolute;
  z-index: 1;
}
@media screen and (max-aspect-ratio: 1920/1080) {
  .video-container > video {
    height: 100%;
  }
}
@media screen and (min-aspect-ratio: 1920/1080) {
  .video-container > video {
    width: 100%;
  }
   @media screen and (orientation: landscape) {
      html {
        transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
      }
    } 
  @media only screen and (pointer: coarse) and (min-width: 320px) and (max-width: 812px) and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0; 
       transform: rotate(-90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
  } 
}
}
} 
} **/
