body{ margin:0; }


header{ min-height:50px; }
footer{ min-height:50px; background: #C86654; }

#avatar {
  width: 50%;
  height: 50%;
}

body{ 
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #EDAEA0;
  flex-direction:column; 
}

footer{
  margin-top:auto; 
}

table {
  padding-left: 30px;
  padding-top: 30px;
}

td {
  vertical-align: bottom;
}

.web_cell
{
    padding-left: 5px;    
}

#aboutme {
  padding-left: 25%;
}
