body{ height:100vh; margin:0; }


header{ min-height:50px; }
footer{ min-height:50px; background: #C86654; }

#avatar {
  width: 50%;
  height: 50%;
}

body{ 
  font-family: "Open Sans", sans-serif;
  color: #fff;
  background-color: #EDAEA0;
  flex-direction:column; 
}

footer{
  margin-top:auto; 
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  padding: 10px 10px;
}

.column img {
  margin-top: 8px;
  vertical-align: bottom;
  /**display: block;**/
}

